
<div class="col-md-3 col-sm-3">
  <img class="img-thumbnail img-responsive photo"<%=image_tag 'placeholder1'%></img>
</div>

<div class="col-md-9 col-sm-9">
  <p>
    cdjbhdbcbdsbcjbdsjbckndsk
  </p>

  <p>
    dajsbfjbdjbcbdjbcjbdscdnsncjkdnjc
  </p>
  
</div>
